body {
  position: relative;
}
nav {
  text-align: center;
  background: transparent;
}

.logo {
  width: 600px;
  margin-bottom: 20px;
  transition: 0.5s;
}

nav ul li a {
  line-height: 80px;
  color: white;
  font-size: 25px;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

nav ul li a:hover {
  color: #f00;
  font-weight: bold;
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
    url(img/cover.jpg);

  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec1 h1 {
  color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 70px;
  padding-top: 500px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.sec1 span {
  color: red;
}

.sec2 {
  background: #333;
  padding: 100px 0px;
  height: 100vh;
  color: white;
}

.sec2 h1,
.sec3 h1,
.sec4 h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 60px;
}

.sec2 p,
.sec3 p,
.sec4 p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

.sec3 {
  background: white;
  padding: 100px 0px;
  text-align: center;
  height: 100vh;
}

.sec3 img {
  margin-top: 25px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
}

.white {
  color: white;
}

.green {
  color: green;
}

.david {
  font-family: 'Roboto', sans-serif;
  color: grey;
  font-size: 30px;
}

.grey {
  font-family: 'Roboto', sans-serif;
  color: grey;
}

/* =====jQuery Classes ======== */

.black {
  background: white;
  transition: 1s;
}
.blackk {
  color: black !important;
}

.color {
  line-height: 40px;
  color: black;
  font-size: 25px;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: 0.5s;
}

.remove {
  display: none;
}
.resize {
  height: 10vh;
  transition: all 0.5s ease-in-out;
}
.removeup {
  transform: translateY(-500px);
  transition: all 0.5s ease-in-out;
}

/* new logo */
#lion-logo {
  width: 100px;
  transition: all 0.5s ease-in-out;
}
#fuego {
  font-family: 'Major Mono Display', monospace;
  font-size: 100px;
  margin-bottom: -20px;
  padding-top: 0px;
  text-align: center;
  color: white;
  transition: all 0.5s ease-in-out;
}

#development {
  font-family: 'Wallpoet', cursive;
  font-size: 60px;
  margin-top: 0px;
  padding-top: 0px;
  color: #ff3535;
  transition: all 0.5s ease-in-out;
}

.f-container {
  padding: 50px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

/* ===============================
=            CONTACT            =
=============================== */
::placeholder {
  color: #333;
}
::-webkit-input-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}
#contact {
  background: #333;
  background-image: -webkit-linear-gradient(35deg, #000, #333);
  background-image: linear-gradient(35deg, #000, #333);
  padding: 200px 0 200px;
  height: 100%;
}
#contact.success:before {
  opacity: 1;
}
#contact .contact-form {
  text-align: right;
  position: relative;
  z-index: 1;
}
#contact canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
}
.hide-those-particles #contact canvas {
  display: none !important;
}
#contact .input-wrap {
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}
#contact .input-wrap.textarea {
  height: 300px;
}
#contact .select-wrap {
  position: relative;
  z-index: 999999;
}
#contact .input-wrap input,
#contact .input-wrap select {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  position: absolute;
  left: 3%;
  width: 94%;
  height: 53px;
  z-index: 9999;
  margin-top: 3px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03em;
  color: #333;
  background: #fff;
  z-index: 9999999;
}
#contact .input-wrap textarea {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 3%;
  width: 94%;
  display: block;
  padding: 7px;
  height: 300px;
  font-weight: 300;
  background: #fff;
  -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease;
  transition: all 225ms ease;
  color: #333;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 29px;
  resize: none;
  z-index: 9999;
}
#contact .input-wrap svg {
  position: absolute;
  top: -9px;
  left: 0;
  height: 78px;
}
#contact .input-wrap.textarea svg {
  height: 410px;
  top: -54px;
}
#contact .input-wrap.checkbox {
  margin-top: 35px;
}
#contact .input-wrap.checkbox input {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  opacity: 0;
}
#contact .input-wrap.checkbox svg {
  width: 45px;
  height: 55px;
  left: auto;
  right: 19px;
}
#contact .input-wrap.checkbox label {
  padding-right: 53px;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  margin-top: 2px;
  z-index: 9999999;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin-right: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#contact .input-wrap.checkbox i {
  color: rgb(180, 255, 180);
  font-size: 30px;
  z-index: 99999;
  position: absolute;
  right: 26px;
  top: 3px;
  -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease;
  transition: all 225ms ease;
  display: block;
  opacity: 1;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
#contact .input-wrap.checkbox i.ti-control-stop {
  opacity: 0;
  font-size: 32px;
}
#contact .input-wrap svg path {
  fill: white;
  -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease;
  transition: all 225ms ease;
}
#contact .input-wrap.checkbox.nopeee svg path {
  fill: #fff;
}
#contact .input-wrap.checkbox.nopeee i {
  color: rgb(255, 120, 126);
}
#contact .input-wrap.checkbox.nopeee i.ti-control-stop {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#contact .input-wrap.checkbox.nopeee i.ti-check-box {
  opacity: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#contact h2 {
  margin: 0;
  color: #fff;
  line-height: 135px;
  text-align: right;
  z-index: 10;
  position: relative;
}
#contact h2 span {
  display: inline-block;
}
#contact h2 span.lets {
  font-weight: 200;
  font-size: 150px;
  margin-top: -1px;
}
#contact h2 span.chat {
  font-size: 200px;
}
#contact p.lead {
  margin: 0;
  color: white;
  text-align: right;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  line-height: 37px;
  letter-spacing: 0.02em;
  margin-top: 51px;
  z-index: 10;
  position: relative;
}
#contact p.lead a {
  color: #fff;
}
#contact p.lead a:hover {
  color: rgb(162, 255, 176);
}
#contact .input-wrap.submit input {
  background: #ffda35;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: black;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  -webkit-transition: all 225ms ease;
  -moz-transition: all 225ms ease;
  transition: all 225ms ease;
}
#contact .input-wrap.submit svg path {
  fill: rgb(206, 136, 255);
}
#contact .input-wrap.submit input:hover {
  background: rgb(162, 255, 176);
  color: #000;
  cursor: pointer;
}
#contact .input-wrap.submit input:hover ~ span svg path {
  fill: rgb(162, 255, 176);
}
.form-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -100;
  opacity: 0;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}
.show-form-overlay .form-overlay {
  z-index: 9999999999;
  opacity: 0.9;
}
#contact .input-wrap.has-error input,
#contact .input-wrap.has-error textarea {
  background: rgb(255, 60, 60);
}
#contact .input-wrap.has-error svg path {
  fill: rgb(255, 60, 60);
}
/* ===================================
=            OUR PROCESS            =
=================================== */
#our-process {
  text-align: center;
}
#our-process .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#our-process .contents {
  position: relative;
  height: 400px;
  z-index: 1;
}
#our-process .contents .wrap {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 77777777;
}
#our-process .step {
  opacity: 1;
}
#our-process span.icon {
  display: block;
  margin: 0 auto 20px auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  color: #00d2c1;
  font-size: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  border: solid 3px #fff;
}
#our-process span.icon.think {
  color: #ff6e6e;
}
#our-process span.icon.design {
  color: #ffb446;
}
#our-process span.icon.engineer {
  color: #003267;
}
#our-process span.icon.execute {
  color: #5200c9;
}
#our-process span.icon:before {
  display: block;
  content: ' ';
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: 1;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
  background: #fff;
}
#our-process span.icon:hover,
#our-process span.icon.active {
  color: #fff;
  background: transparent;
}
#our-process span.icon:hover:before,
#our-process span.icon.active:before {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1.25);
  -moz-transform: translate(-50%, -50%) scale(1.25);
  -ms-transform: translate(-50%, -50%) scale(1.25);
  -o-transform: translate(-50%, -50%) scale(1.25);
  transform: translate(-50%, -50%) scale(1.25);
}
#our-process span.icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 88;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}
#our-process h3 {
  font-size: 35px;
  color: #fff;
  letter-spacing: 0.05em;
}
#our-process h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
  font-size: 50px;
  color: #fff;
  font-weight: 200;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}
#our-process h4.active {
  opacity: 1;
}
#our-process h4 i {
  font-size: 9px;
  color: rgb(255, 146, 146);
  -webkit-transform: translateY(-14px);
  -moz-transform: translateY(-14px);
  -m-transform: translateY(-14px);
  -o-transform: translateY(-14px);
  transform: translateY(-14px);
  display: inline-block;
}
#our-process h4 span {
  margin: 0 5px;
}
/* media queries */
@media (max-width: 800px) {
  .sec2 h1,
  .sec3 h1,
  .sec4 h1 {
    font-size: 35px;
  }
  .sec1 h1 {
    font-size: 40px;
  }
  .sec2 p,
  .sec3 p,
  .sec4 p {
    font-size: 20px;
  }
  nav ul li a {
    line-height: 40px;
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  .color {
    line-height: 40px;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: 0.5s;
  }
  .logo {
    width: 400px;
  }
  .grey {
    font-size: 15px;
  }
}
.button {
  text-align: center;
}
.btn {
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  border: 1px solid white;
}
.btn:hover {
  color: black;
  background: white;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .logo {
    width: 320px;
  }
  .remove {
    width: 0px;
    transition: 0.5s;
  }
  .sec1 h1 {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    padding-top: 300px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 950px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 680px) {
  #lion-logo {
    width: 75px;
  }
  #fuego {
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    margin-bottom: -5px;
    padding-top: 0px;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;
  }

  #development {
    font-family: 'Wallpoet', cursive;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 0px;
    color: #ff3535;
    transition: all 0.5s ease-in-out;
  }
  .sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #Who-We-Are img {
    width: 150px;
  }
  .container {
    width: 95%;
  }
  #our-process {
    display: none;
  }
  #contact p.lead {
    font-size: 20px !important;
    margin-top: -30px;
    margin-bottom: 25px;
    text-align: center;
  }
  #contact h2 {
    text-align: center;
  }
  #contact .chat {
    font-size: 150px !important;
    margin-bottom: -50px;
    text-align: center;
  }
  #contact .lets {
    font-size: 120px !important;
    margin-bottom: -50px;
    text-align: left !important;
  }
  #contact .input-wrap.checkbox label {
    font-size: 24px;
  }
  #footer .logo p {
    font-size: 19px;
    margin-top: 7px;
    margin-bottom: 50px;
  }
  #blurb {
    padding: 100px 0 150px;
  }
  #our-process,
  #our-services,
  #contact {
    padding: 100px 0;
  }
  #contact {
    padding-bottom: 200px;
  }
}
