nav {
  text-align: center;
  background: transparent;
}
.logo {
  width: 600px;
  margin-bottom: 20px;
  transition: 0.5s;
}

nav ul li a {
  line-height: 80px;
  color: white;
  font-size: 25px;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
nav ul li a:hover {
  color: #f00;
  font-weight: bold;
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
    url(img/cover.jpg);

  background-size: cover;
  background-position: center;
}

.sec1 h1 {
  color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 70px;
  padding-top: 500px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.sec1 span {
  color: gold;
}
.sec2 {
  background: #eeeeee;
  padding: 100px 0px;
}
.sec2 h1,
.sec3 h1,
.sec4 h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 60px;
}

.sec2 p,
.sec3 p,
.sec4 p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.sec3 {
  background: white;
  padding: 100px 0px;
  text-align: center;
}
.sec3 img {
  margin-top: 25px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
}

.sec4 {
  background: #333333;
  padding: 100px 0px;
}
.white {
  color: white;
}

.green {
  color: green;
}
.david {
  font-family: 'Roboto', sans-serif;
  color: grey;
  font-size: 30px;
}
.grey {
  font-family: 'Roboto', sans-serif;
  color: grey;
}

/* =====jQuery Classes ======== */

.black {
  background: white;
  transition: 1s;
}

.color {
  line-height: 40px;
  color: black;
  font-size: 25px;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: 0.5s;
}
.remove {
  width: 0px;
  transition: 5s;
}

@media (max-width: 800px) {
  .sec2 h1,
  .sec3 h1,
  .sec4 h1 {
    font-size: 35px;
  }
  .sec1 h1 {
    font-size: 40px;
  }

  .sec2 p,
  .sec3 p,
  .sec4 p {
    font-size: 20px;
  }

  nav ul li a {
    line-height: 40px;
    color: white;
    font-size: 12px;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }

  .color {
    line-height: 40px;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: 0.5s;
  }

  .logo {
    width: 400px;
  }
  .grey {
    font-size: 15px;
  }
}

.button {
  text-align: center;
}
.btn {
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  border: 1px solid white;
}

.btn:hover {
  color: black;
  background: white;
  border: 1px solid white;
}

@media (max-width: 500px) {
  .logo {
    width: 320px;
  }
  .sec1 h1 {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    padding-top: 300px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}
/* ===== Test Websites==== */

#test-body {
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/textcover.jpg);

  background-size: cover;
  background-position: center;
}

#test-main {
  margin-top: 400px;
}
#test-main .container {
  text-align: center;
}
#test-main .container h1 {
  color: white;
  font-family: 'Merriweather';
  margin-bottom: 25px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
/* ===== Social Media===== */

@font-face {
  font-family: 'Genericons';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff')
      format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot')
      format('truetype');
}

.accordion {
  text-align: center;
  background: #333;
  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: #333 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 450px;
}

.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}

.tab .content {
  background: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  padding: 50px 0 0 15px;
  position: relative;
}

.tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.social a:after,
.social a:before {
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}

.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.mail a:before,
.mail a:after {
  content: '\f410';
}
.mail a:after {
  background-color: #0072c6;
}

.phone a:before,
.phone a:after {
  content: '\f437';
}
.phone a:after {
  background-color: #ffe100;
}

.facebook a:before,
.facebook a:after {
  content: '\f204';
}
.facebook a:after {
  background-color: #3b5998;
}

.linkedin a:before,
.linkedin a:after {
  content: '\f208';
}
.linkedin a:after {
  background-color: #00a9cd;
}

.instagram a:before,
.instagram a:after {
  content: '\f215';
}
.instagram a:after {
  background-color: #6dc993;
}

.github a:before,
.github a:after {
  content: '\f200';
}
.github a:after {
  background-color: #6e5494;
}

.form-container {
  background: white;
  padding: 50px;
}
@media (max-width: 950px) {
  .container {
    width: 70%;
  }

  .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #333 solid;
  }

  .accordion {
    display: block;
    min-width: 450px;
    height: auto;
  }

  .tab .content {
    width: 85%;
  }

  .tab:hover {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .container {
    width: 95%;
  }

  .accordion {
    width: 100%;
    min-width: 350px;
  }

  .tab .content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .tab .content p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding-right: 30px;
  }
}
